<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="*A cool project" src="{{ "/assets/img/Hot-Wire_SPEAR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hot wire transient test instrument </h3>
    <ul>
    </ul>
    <p>For my senior design project, my collegues and I worked alongside <a href="https://ctherm.com/">C-Therm</a>, a small company based out of Fredericton, NB, which creates instruments to measure various
      thermal properties of materials. We created hardware and software to interface with their design to create an instrument which could perform the transient hot wire test as outlined in ASTM D7896</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="A screenshot of the game" src="{{ "/assets/img/Timebender.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Timebender (Game) </h3>
    <ul>
    </ul>
    <p>Timebender is a game that me and two oher collegues created for our intro to game development course. In this game, you play as a wizard with the ability to time travel
      between the present and the future.
    </p>
    <li>Clicking check it out will download the game (200MB)</li>
    <li>Launch it by unzipping the folder and launching "testingProjectWiz.exe" </li>
    <a class="project-link" href="https://1drv.ms/u/s!Am7IZ5VvttEK5BrSwvWZrv_SlC4b?e=ojv7aW">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Runaway Voltage (In progress) </h3>
    <ul>
    </ul>
    <p>Runaway voltage is my latest project, but it is still in it's early stages. It is a tower defence game on a printed circuit board; A voltage source 
      is powering your CPU as it does calculations, but it is slowly increasing over time. Your goal is to add components (Resistors, capacitors, etc.) onto
      the board to regulate the voltage on the CPU to ensure it does not overheat.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

