<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="A screenshot of the game" src="{{ "/assets/img/InputManager.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Input Manager (GMTK Game Jam 2023) </h3>
    <ul>
    </ul>
    <p>In July 2023, I participated in GMTK's annual game jam for the first time, one of the largest game development marathons in which developers are tasked to create a game
      in just 48 hours. The theme this year was "Roles Reversed", having us design games in which you play in a role you don't typically play as. My game, "Input Manager",
      reverses the roles by having the player have to deliver inputs to the correct bits of code in the computer, rather than being the one giving inputs. Check out the development
      of this game <a href="https://www.youtube.com/watch?v=_PCmY0RiMNg&t=2s">here</a>
      <a class="project-link" href="https://eagleeyepro.itch.io/input-manager">Check it out</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="*A cool project" src="{{ "/assets/img/Hot-Wire_SPEAR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hot wire transient test instrument </h3>
    <p>For my senior design project, my collegues and I worked alongside <a href="https://ctherm.com/">C-Therm</a>, a small company based out of Fredericton, NB, which creates instruments to measure various
      thermal properties of materials. We created hardware and software to interface with their design to create an instrument which could perform the transient hot wire test as outlined in ASTM D7896</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="A screenshot of the game" src="{{ "/assets/img/SyzygyCropped.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Syzygy (In Development) </h3>
    <ul>
    </ul>
    <p>Syzygy is a puzzle video game I am developing where different types of planets are scattered amongst platforms, 
      and the goal is to sort them by color. However, the planets can only be moved to a single empty slot and across predetermined connections,
       increasing in difficulty as you try to move planets without affecting your sorted ones.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="A screenshot of the game" src="{{ "/assets/img/Timebender.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Timebender (Game) </h3>
    <ul>
    </ul>
    <p>Timebender is a video game developed by two colleagues and I in which you play as wizard with the ability to travel between the future and present time. 
      Things take a puzzling turn as you navigate through the walls of the dungeon; items are influenced by which timeline you find yourself in.
    </p>
    <p>Clicking check it out will download the game (200MB). 
      Launch it by unzipping the folder and launching "testingProjectWiz.exe" </p>
    <a class="project-link" href="https://1drv.ms/u/s!Am7IZ5VvttEK5BrSwvWZrv_SlC4b?e=ojv7aW">Check it out</a>
  </div>
</div>


